<!--{Artwork.Date_Unix}-->
<div id="{Artwork.PixID}_p{Artwork.SubID}" class="Flex_Between {Artwork.NSFW}">
	<header><a href="{Artwork.URL}" target="_blank">
		<{Artwork.Type} loop autoplay class="Image" src="{Artwork.Image}"></a></{Artwork.Type}>
		<q class="Red"><h3 class="Red"><code>NSFW</code></h3></q>
	</header>
	<article>
		<spacer></spacer>
		<header>
			<h2><a href="{Artwork.URL}" target="_blank">{Artwork.Title}</a> (N°{Artwork.Nth}/{Artwork.Total}) by <a href="{Artist.URL}" target="_blank">{Artwork.Artist_Name}</a></h2>
			<p>{Artwork.Description}</p>
		</header>
		<spacer></spacer>
		<div>{Artwork.Tags_URL}</div>
		<br>
		<footer class="Flex_Between">
			<q class="Source">
				<p>{Artwork.Date} | ID: {Artwork.PixID}_p{Artwork.SubID}</p>
			</q>
			<h4><code>{Artwork.Ext}</code></h4>
		</footer>
	</article>
</div>