<!--{Character.Total_Padded}-->
<div id="{Character.Name}_{Character.Tag}" class="Flex_Between">
	<header><a href="{Character.Name}/{Character.Tag}.html"><img class="Image" src="{Character.Image}"></a></header>
	<article>
		<spacer></spacer>
		<div>
			<h2><a href="{Character.Name}/{Character.Tag}">{Character.Name} ({Character.Tag})</a></h2>
			<p>{Character.Abstract}</p>
		</div>
		<spacer></spacer>
		<div class="Quote Cyan">
			<p>{Character.Total} total artworks stashed.</p>
		</div>
	</article>
</div>