<!--{Character.Total_exPadded}-->
<div id="{Source.Name}" class="Flex_Between">
	<header><a href="{Source.Name}/browse.html"><img class="Image" src="{Source.Name}/Logo.png"></a></header>
	<article>
		<spacer></spacer>
		<div>
			<h2><a href="{Source.Name}/browse.html">{Source.Name}</a></h2>
			<p>{Source.Abstract}</p>
		</div>
		<spacer></spacer>
		<ul>
			<p>{Artwork.Total} total artworks stashed, {Artwork.Total_Diff} excluded leading to only {Artwork.Total_Excluded} artworks visible.</p>
			<p>{Character.Total} total characters stashed, {Character.Total_Diff} excluded leading to only {Character.Total_Excluded} characters visible.</p>
		</ul>
	</article>
</div>