<!DOCTYPE html>
<html Theme="Light" lang="en">
	<head>
		<title>Ascellayn's Artwork Stash</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<script>
			const TSNJS_Components = ["Navigation", ["Background", "Pink"]];
			const TSNJS_Copyright = "Kiyosumi © (2025-2026) - Ascellayn | TSN License 2.2 - Universal";
			</script>
		<link rel="stylesheet" href="https://css.sirio-network.com">
		<link rel="stylesheet" href="https://css.sirio-network.com/project/kiyosumi">
		<script type="module" src="https://js.sirio-network.com"></script>

		<!-- SEO -->
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Source.Tags_Excluded}, {Character.Tags_Excluded}" name="keywords"/>
		<!-- Embed -->
		<meta content="Ascellayn's Artwork Stash" property="og:title"/>
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" property="og:description"/>
		<meta content="https://sirio-network.com/Root/sirio_network-banner.png" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>
	</head>
	<body>
		<div id="Background"></div>
		<div id="Floating"></div>
		<div id="Root">
			<div id="Base">
				<div class="Banner Yellow">
					<h3>This section of The Sirio Network Website may be considered unprofessional.</h3>
					<p>Don't take these pages seriously! They're just for fun.</p>
				</div>
				<br>
				<div class="Contain_Themed">
					<h1>Ascellayn's Artwork Stash</h1>
					<p>Welcome to the public stash browser of Ascellayn, powered by <a href="https://github.com/Ascellayn/TSN_Kiyosumi">TSN Kiyosumi {App.Version}</a>!</p>
					<p>Go through every single Artwork that has been meticulously cherry picked and thus approved by Ascellayn from <a href="https://pixiv.net" target="_blank">Pixiv</a>.</p>
					<p><i>Do note Descriptions for Sources or Characters may be wrong or missing, for more information, read on why that is on the TSN Kiyosumi Wiki.</i></p>
					<div class="Quote Cyan">
						<p>A grand total of {Artwork.Total} artworks across {Character.Total} characters were saved and are displayed publicly here!
... however there could have been much more as {Excluded.Count_Tag} artworks, {Excluded.Count_Character} Characters and {Excluded.Count_Source} Sources were excluded.
This leads to a grand total of {Source.Total_Diff} Sources, {Character.Total_Diff} Characters and {Artwork.Total_Diff} being unviewable.
<i>Only {Source.Total_Excluded} Sources, {Character.Total_Excluded} Characters and {Artwork.Total_Excluded} Artworks are currently visible.</i></p>
					</div>
					<br>
				</div>
				<spacer></spacer>
				<br>
				<div class="Quote Red">
					<div>
						<h3>A word of Caution</h3>
						<p>While I tend to have a significantly more strict definition of what a "Not Safe For Work" artwork is, some artworks might still be not something you may be comfortable looking at publicly.</p>
						<p>You have been warned... and no, I will not publish the NSFW-Tagged pages.</p>
						<div class="Quote">
							<p><i>... until Arellayn decides to pull a prank on me.</i></p>
						</div>
					</div>
				</div>
				<br>
<div class="Flex_Grid Contain_Themed">
{Source.Embeds}
</div>
			</div>
		</div>
	</body>
</html>
