<!DOCTYPE html>
<html SNDL-Theme="Light" lang="en">
	<head>
		<title>Ascellayn's Artwork Stash</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<link rel="stylesheet" href="/SNDL/css/main.css">
		<link rel="stylesheet" href="/SNDL/css/projects/misono.css">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation"];</script>
		<script type="module" src="/SNDL/js/main.mjs"></script>

		<!-- SEO -->
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Source_All}, {Characters_All}" name="keywords"/>
		<!-- Embed -->
		<meta content="Ascellayn's Artwork Stash" property="og:title"/>
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" property="og:description"/>
		<meta content="https://sirio-network.com/Root/sirio_network-banner.png" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>

		<!-- SNJS Dependencies -->
	</head>
	<body>
		<div id="Background"></div>
		<div id="Floating"></div>
		<div id="Root">
			<div id="Base">
				<div class="SNDL-Contain_Themed">
					<h1>Ascellayn's Artwork Stash</h1>
					<p>Welcome to the public stash browser of Ascellayn, powered by <a href="https://github.com/Ascellayn/TSN_Misono">TSN Misono {Misono_Version}</a>!</p>
					<p>Go through every single Artwork that has been meticulously cherry picked and thus approved by Ascellayn from Pixiv.</p>
				</div>
				<spacer></spacer>
<div class="Misono_Contain">
{TSN_Misono}
</div>
			</div>
			<div id="3000" class="SNJS_Copyright">
				<p>{Misono_Legal}</p>
			</div>
		</div>
	</body>
</html>