<!DOCTYPE html>
<html SNDL-Theme="Light" lang="en">
	<head>
		<title>{Character_Name} ({Character_Tag}) - {Source_Name} | Ascellayn's Artwork Stash</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<link rel="stylesheet" href="/SNDL/css/main.css">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation"];</script>
		<script src="/SNDL/js/main.js"></script>

		<!-- SEO -->
		<meta content="Ever wondered what kind of artworks of {Character_Name} (well the {Character_Tag} ones) Ascellayn has saved? Well check this page out!" name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Character_Tags}" name="keywords"/>
		<!-- Embed -->
		<meta content="{Character_Name} ({Character_Tag}) - {Source_Name} | Ascellayn's Artwork Stash" property="og:title"/>
		<meta content="Ever wondered what kind of artworks of {Character_Name} (well the {Character_Tag} ones) Ascellayn has saved? Well check this page out!" property="og:description"/>
		<meta content="{Artwork_Random}" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>

		<!-- SNJS Dependencies -->
	</head>
	<body>
		<div id="Background"></div>
		<div id="Root">
			<div id="Base">
				<div class="SNDL-Contain_Themed">
					<h1>{Character_Name} ({Character_Tag}) Artworks</h1>
					<p>{Character_Description}</p>
					<div class="SNDL-Source">
						<p>A grand total of {Character_Total} artworks have been stashed.</p>
					</div>
					<spacer></spacer>
					<div>
						<a class="SNDL-Button" href="../browser.html">Return to all {Source_Name} Artworks</a>
						<a class="SNDL-Button" href="../../browser.html">Return to all Artworks</a>
					</div>
				</div>

{TSN_Misono}

			</div>
		</div>
		<div id="3000" class="SNJS-Copyright">
			<p>{TSN_Misono-Legal}</p>
		</div>
	</body>
</html>