<!DOCTYPE html>
<html SNDL-Theme="Light" lang="en">
	<head>
		<title>{Source_Name} | Ascellayn's Artwork Stash</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<link rel="stylesheet" href="/SNDL/css/main.css">
		<link rel="stylesheet" href="/SNDL/css/projects/misono.css">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation"];</script>
		<script type="module" src="/SNDL/js/main.mjs"></script>

		<!-- SEO -->
		<meta content="Ever wanting to roast the {Source_Name} artworks Ascellayn likes? Well, got some news for ya." name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Source_Character}" name="keywords"/>
		<!-- Embed -->
		<meta content="{Source_Name} | Ascellayn's Artwork Stash" property="og:title"/>
		<meta content="Ever wanting to roast the {Source_Name} artworks Ascellayn likes? Well, got some news for ya." property="og:description"/>
		<meta content="https://sirio-network.com/Root/sirio_network-banner.png" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>

		<!-- SNJS Dependencies -->
	</head>
	<body>
		<div id="Background"></div>
		<div id="Floating"></div>
		<div id="Root">
			<div id="Base">
				<div class="SNDL-Contain_Themed">
					<div class="SNDL-Bannermage">
						<img src="../Banner-{Source_NameHTML}.png">
						<div SNDL-Theme="Light">
							<h1>{Source_Name} Artworks</h1>
							<p>{Source_Description}</p>
						</div>
					</div>
					<div class="SNDL-Source">
						<p>A grand total of {Source_Total} artworks spanning across {Character_Total} Characters have been stashed.</p>
					</div>
					<spacer></spacer>
					<div class="SNDL-Flex_Center">
						<a style="max-width: 50%;" class="SNDL-Button" href="../Browser.html"><h4>Return to all Artworks</h4></a>
					</div>
				</div>
				<br>
<div class="Misono_Contain">
{TSN_Misono}
</div>
			</div>
			<div id="3000" class="SNJS_Copyright">
				<p>{Misono_Legal}</p>
			</div>
		</div>
	</body>
</html>