<!DOCTYPE html>
<html SNDL-Theme="Light" lang="en">
	<head>
		<title>Ascellayn's Artwork Stash</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<link rel="stylesheet" href="/SNDL/css/main.css">
		<link rel="stylesheet" href="/SNDL/css/projects/misono.css">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation", "SNJS_WorkInProgress"];</script>
		<script type="module" src="/SNDL/js/main.mjs"></script>

		<!-- SEO -->
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Source_All}, {Characters_All}" name="keywords"/>
		<!-- Embed -->
		<meta content="Ascellayn's Artwork Stash" property="og:title"/>
		<meta content="Ever wondered what kind of weird artworks Ascellayn likes? No? Well TOO BAD" property="og:description"/>
		<meta content="https://sirio-network.com/Root/sirio_network-banner.png" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>

		<!-- SNJS Dependencies -->
	</head>
	<body>
		<div id="Background"></div>
		<div id="Floating"></div>
		<div id="Root">
			<div id="Base">
				<div class="SNDL-Banner SNC-Yellow">
					<h3>This section of The Sirio Network Website may be considered unprofessional.</h3>
					<p>Don't take these pages seriously! They're just for fun.</p>
				</div>
				<br>
				<div class="SNDL-Contain_Themed">
					<h1>Ascellayn's Artwork Stash</h1>
					<p>Welcome to the public stash browser of Ascellayn, powered by <a href="https://github.com/Ascellayn/TSN_Misono">TSN Misono {Misono_Version}</a>!</p>
					<p>Go through every single Artwork that has been meticulously cherry picked and thus approved by Ascellayn from <a href="https://pixiv.net" target="_blank">Pixiv</a>.</p>
					<div class="SNDL-Quote SNC-Cyan">
						<p>A grand total of {Source_Total} artworks were saved and are displayed publicly here!</p>
					</div>
					<br>
				</div>
				<spacer></spacer>
				<br>
				<div class="SNDL-Quote SNC-Red">
					<div>
						<h3>A word of Caution</h3>
						<p>While I tend to have a significantly more strict definition of what a "Not Safe For Work" artwork is, some artworks might still be not something you may be comfortable looking at publicly.</p>
						<p>You have been warned... and no, I will not publish the NSFW-Tagged pages.</p>
						<div class="SNDL-Source">
							<p>... until Arellayn decides to pull a prank on me.</p>
						</div>
					</div>
				</div>
				<br>
<div class="Misono_Contain">
{TSN_Misono}
</div>
			</div>
			<div id="3000" class="SNJS_Copyright">
				<p>{Misono_Legal}</p>
			</div>
		</div>
	</body>
</html>