<!DOCTYPE html>
<html SNDL-Theme="Light" lang="en">
	<head>
		<title>{Source_Character} ({{Source_Tag}}) - {Source_Name}</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<!-- External -->
		<link rel="stylesheet" href="/SNDL/css/main.css">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation"];</script>
		<script src="/SNDL/js/main.js"></script>

		<!-- SEO -->
		<meta content="Ever wondered what kind of artworks of {Source_Character} (well the {Source_Tag} ones) Ascellayn has saved? Well check this page out!" name="description"/>
		<meta content="Ascellayn" name="author"/>
		<meta content="The Sirio Network, Sirio Network, TSN, Ascellayn, {Source_Keywords}" name="keywords"/>
		<!-- Embed -->
		<meta content="{Source_Character} ({{Source_Tag}}) - {Source_Name}" property="og:title"/>
		<meta content="Ever wondered what kind of artworks of {Source_Character} (well the {Source_Tag} ones) Ascellayn has saved? Well check this page out!" property="og:description"/>
		<meta content="{Artwork_Random}" property="og:image"/>
		<meta content="#FFFAFF" data-react-helmet="true" name="theme-color"/>
		<meta name="twitter:card" content="summary_large_image"/>

		<!-- SNJS Dependencies -->
	</head>
	<body>
		<div id="Background"></div>
		<div id="Root">
			<div id="Base">
{TSN_Misono}
			</div>
		</div>
	</body>
</html>